@charset "utf-8";
%cleafix::after {
    //被继承的代码不会编码
    content: '';
    clear: both;
    display: block;
}

.ng-toolbar {
    height: 35px;
    background: #f5f5f5;
}

.ng-toolbar-con {
    position: relative;
}

.ng-toolbar-con::after {
    @extend %cleafix;
}

// 顶部导航
.ng-toolbar-left {
    // display: flex;
    // width: 323px;
    float: left;
    position: absolute;
    >div {
        // padding: 0 10px;
        // line-height: 35px;
        float: left;
        >a {
            font-size: 12px;
            color: #666666;
            width: 65px;
            display: block;
            padding: 0 10px;
            line-height: 34px;
            height: 34px;
            position: relative;
            z-index: 9999;
        }
        // >a:hover {
        //     // border: 1px solid #ddd;
        //     // border-bottom: 1px solid #fff;
        //     // background: white;
        // }
    }
    em {
        font-size: 10px;
        margin: 0 0 0 3px;
    }
    .wzdh {
        >a {
            display: block;
        }
        .sn-site-close {
            position: absolute;
            top: 0;
            right: 10px;
            cursor: pointer;
        }
        .sn-site {
            width: 988px;
            left: 0;
            position: absolute;
            padding: 20px 0;
            border: 1px solid #ddd;
            top: 35px;
            z-index: 9998;
            display: none;
            background-color: #fff;
            .sn-site-list {
                border-right: 1px solid #ccc;
                padding-left: 20px;
                width: 176px;
                float: left;
                dd {
                    width: 100%;
                    p {
                        display: inline-block;
                        width: 78px;
                        height: 25px;
                        line-height: 25px;
                        a {
                            font-size: 12px;
                            color: #666666;
                        }
                        a:hover {
                            color: orange;
                        }
                    }
                }
            }
        }
    }
    .wzdh:hover .sn-site {
        display: block;
    }
    .wzdh:hover>a {
        border: 1px solid #ddd;
        border-bottom: 1px solid #fff;
        background: white;
    }
    .sjrz {
        .sj-list {
            width: 162px;
            padding-top: 5px;
            position: absolute;
            padding-bottom: 5px;
            border: 1px solid #ddd;
            background: #fff;
            z-index: 9998;
            top: 34px;
            display: none;
            p {
                display: inline-block;
                a {
                    font-size: 12px;
                    color: #666666;
                    display: inline-block;
                    height: 28px;
                    line-height: 28px;
                    padding-left: 7px;
                    width: 71px;
                }
                a:hover {
                    color: orange;
                }
            }
        }
    }
    .sjrz:hover>a {
        border: 1px solid #ddd;
        border-bottom: 1px solid #fff;
        background: white;
    }
    .sjrz:hover .sj-list {
        display: block;
    }
    .sjrz:hover .shop {
        color: orange;
    }
    .khfw {
        .kh-list {
            width: 162px;
            padding-top: 5px;
            position: absolute;
            padding-bottom: 5px;
            border: 1px solid #ddd;
            background: #fff;
            z-index: 9998;
            top: 34px;
            display: none;
            left: 93px;
            p {
                display: inline-block;
                a {
                    font-size: 12px;
                    color: #666666;
                    display: inline-block;
                    height: 28px;
                    line-height: 28px;
                    padding-left: 7px;
                    width: 71px;
                }
                a:hover {
                    color: orange;
                }
            }
        }
    }
    .khfw:hover>a {
        border: 1px solid #ddd;
        border-bottom: 1px solid #fff;
        background: white;
    }
    .khfw:hover .kh-list {
        display: block;
    }
    .address {
        em {
            font-size: 14px;
            margin: 4px 6px 0;
            color: orange;
        }
        span {
            padding: 0 5px 0 0;
        }
        .sanjiao {
            width: 0;
            height: 0;
            border-color: #bbb transparent transparent;
            border-width: 6px 4px;
            border-style: solid dashed dashed;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            margin: 0 5px 0 0;
        }
        .ui-city-group {
            background: #fff;
            z-index: 99;
            position: absolute;
            border: black 1px solid;
            display: none;
            .ui-city-close {
                position: absolute;
                right: 10px;
                cursor: pointer;
            }
            .ui-city-group-content {
                width: 370px;
                background: #fff;
                .nav-tabs {
                    padding-left: 14px;
                    overflow: hidden;
                    %nav-tabs-div {
                        float: left;
                        border: 1px solid #ededed;
                        background: #fff;
                        margin-right: 6px;
                        cursor: pointer;
                        height: 26px;
                        text-align: center;
                        line-height: 26px;
                    }
                    .provinceShow {
                        @extend %nav-tabs-div;
                        >p {
                            padding: 6px 15px 6px 15px;
                        }
                    }
                    .citybShow {
                        @extend %nav-tabs-div;
                        >p {
                            padding: 6px 15px 6px 15px;
                        }
                    }
                    a {
                        font-size: 12px;
                        color: #000000;
                        display: block;
                        line-height: 16px;
                    }
                }
                .tab-content {
                    border-top: 1px solid #ededed;
                    .province {
                        width: 370px;
                        >li {
                            display: inline-block;
                            margin-top: 7px;
                            width: 87px;
                            height: 20px;
                            text-align: center;
                            p {
                                display: inline-block;
                                a {
                                    color: #000;
                                    display: inline-block;
                                    height: 20px;
                                    font-size: 12px;
                                    line-height: 20px;
                                    padding: 0 4px;
                                    cursor: pointer;
                                }
                                a:hover {
                                    background: #ccc;
                                    color: #fa0;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                    .city {
                        display: none;
                        @extend .province;
                    }
                }
            }
        }
    }
}

.ng-toolbar-right {
    float: right;
    em {
        font-size: 10px;
        margin: 0 0 0 3px;
    }
    >li {
        float: left;
        height: 100%;
        padding: 0 10px;
        a {
            color: #666;
            font-size: 12px;
            display: inline-block;
            line-height: 35px;
            height: 35px;
        }
        a:hover {
            color: orange;
        }
    }
    .my-order {
        position: relative;
        .ng-toolbar-order {
            height: 0;
            overflow: hidden;
            z-index: 888;
            transition: all 0.2s;
            position: absolute;
            left: -1px;
            top: 35px;
            background-color: #fff;
            width: 81px;
            border: 1px #f5f5f5 solid;
            a {
                font-size: 12px;
                display: block;
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
                width: 71px;
            }
        }
    }
    .my-order:hover {
        background-color: #fff;
        outline: 1px #ccc solid;
    }
    .my-order:hover .ng-toolbar-order {
        height: 130px;
        border: 1px #ccc solid;
    }
    .my-buy {
        position: relative;
        .ng-toolbar-buy {
            position: absolute;
            z-index: 888;
            left: -1px;
            top: 34px;
            border: 1px solid #f5f5f5;
            height: 0;
            overflow: hidden;
            transition: all 0.2s;
            background-color: #fff;
            .ng-toolbar-login {
                width: 180px;
                height: 56px;
                margin: 5px 10px;
                line-height: 56px;
                >img {
                    width: 54px;
                    height: 54px;
                    border: 1px solid #f7f7f7;
                    display: inline-block;
                    vertical-align: middle;
                }
                >a {
                    vertical-align: middle;
                    padding-left: 20px;
                    margin-left: 14px;
                }
            }
            .ng-toolbar-buy-list {
                width: 180px;
                >a {
                    padding-left: 10px;
                    width: 77px;
                }
            }
        }
    }
    .my-buy:hover {
        background-color: #fff;
        outline: 1px #ccc solid;
    }
    .my-buy:hover .ng-toolbar-buy {
        height: 180px;
        border: 1px #ccc solid;
    }
    .phone-sn {
        position: relative;
        .phone-sn-box {
            height: 0;
            overflow: hidden;
            transition: all 0.2s;
            background-color: #fff;
            position: absolute;
            width: 580px;
            z-index: 888;
            right: -1px;
            top: 35px;
            border: 1px solid #f5f5f5;
            background: #fff;
            .sm {
                float: left;
                width: 120px;
                margin: 13px 0 0 20px;
                >p {
                    font-size: 12px;
                    text-align: center;
                }
                >img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
    .phone-sn:hover {
        background-color: #fff;
        outline: 1px #ccc solid;
    }
    .phone-sn:hover .phone-sn-box {
        height: 182px;
        border: 1px solid #ddd;
    }
}

// 顶部导航end
%ng-search-a {
    // display: inline;
    position: absolute;
    height: 100px;
    width: 600px;
    top: 0;
    left: 300px;
    .g-search {
        width: 540px;
        position: relative;
        margin: 30px 0 0;
        float: right;
        >em {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            font-size: 14px;
            color: #ccc;
        }
        .search-keyword-box {
            width: 390px;
            border-radius: 12px 0 0 12px;
            float: left;
            padding: 0 0 0 28px;
            border: 2px solid #ff8000;
            border-right: none;
            position: relative;
            .search-keyword {
                width: 380px;
                padding: 9px 10px 9px 0;
                height: 18px;
                line-height: 18px;
                margin-top: 0;
                border: none;
                background: #FFF;
                color: #BBB;
                font-size: 12px;
            }
        }
        .search-btn {
            font-size: 18px;
            width: 120px;
            background: #ff8000;
            border-radius: 0 12px 12px 0;
            height: 40px;
            font-weight: 700;
            text-indent: 2px;
            color: #FFF;
            border: 0;
            cursor: pointer;
        }
        .g-search-hotwords {
            margin-top: 5px;
            font-size: 12px;
            >a {
                color: #999999;
                padding: 0 20px 0 10px;
                margin: 3px 0 3px -11px;
                height: 12px;
                line-height: 12px;
                border-left: 1px solid #ddd;
            }
            >a:hover {
                color: #FF6600
            }
        }
        .g-ac-results {
            position: absolute;
            left: 0;
            top: 41px;
            width: 538px;
            border: 1px solid #E4E4E4;
            background: #FFF;
            z-index: 7000;
            max-height: 188px;
            overflow: hidden;
            display: none;
            ul {
                .results-close {
                    position: relative;
                    height: 20px;
                    .s-close {
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                    }
                }
                li {
                    cursor: pointer;
                }
            }
        }
    }
}

.index-header {
    height: 110px;
    .index-header-container {
        position: relative;
        height: 100px;
        .ng-header-box {
            >a {
                position: absolute;
                top: 10px;
                img {
                    width: 190px;
                    height: 90px;
                }
            }
        }
        .ng-search {
            @extend %ng-search-a;
        }
    }
}