@charset "utf-8";
@import "top";
@import "subnav";
@import "footer";
%cleafix::after {
    //被继承的代码不会编码
    content: '';
    clear: both;
    display: block;
}

.wrapper {
    width: 1190px;
    margin: 0 auto;
}

//二级导航
.ng-nav-bar {
    .ng-nav-barV8 {
        .index-sort {
            .dacu-list-wrapper {
                .index-sort-list-box {
                    height: 0px;
                    overflow: hidden;
                    transition: all .3s;
                }
            }
        }
        .index-sort:hover .index-sort-list-box {
            height: 476px;
            overflow: visible;
        }
    }
}

.second-filter {
    .second-up {
        background: #f8f8fa;
        @extend %cleafix;
        line-height: 20px;
        padding: 10px 0;
        a {
            white-space: nowrap;
            font-size: 12px;
            color: #666;
            float: left;
        }
        a:hover {
            color: #f60;
        }
        .dropdown {
            height: 18px;
            float: left;
            border: 1px solid #ddd;
            color: #666;
            font-size: 12px;
            line-height: 18px;
            position: relative;
            cursor: pointer;
            span {
                padding: 0 20px 0 8px;
                background: #fff;
            }
            i {
                position: absolute;
                top: 7px;
                right: 6px;
                width: 8px;
                height: 4px;
                background-image: url(http://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1599209773);
                background-position: -1064px -197px;
            }
        }
        .sep {
            padding: 0 6px;
            color: #bbb;
            float: left;
        }
        span {
            float: left;
            a {
                white-space: nowrap;
                font-size: 12px;
                color: #666;
            }
            a:hover {
                color: #f60;
                text-decoration: underline;
            }
        }
    }
}

//放大镜
.proinfo {
    .proinfo-container {
        @extend %cleafix;
        .proinfo-left {
            float: left;
            position: relative;
            .imgzoom-main {
                position: relative;
                a {
                    img {
                        width: 450px;
                        height: 450px;
                    }
                }
                .imgzoom-xiaof {
                    position: absolute;
                    opacity: 0.5;
                    width: 200px;
                    height: 200px;
                    z-index: 1;
                    cursor: move;
                    top: 0;
                    border: 1px solid #aaa;
                    background: #fede4f 50% top no-repeat;
                }
            }
            .imgzoom-thumb-w {
                height: 64px;
                position: relative;
                margin: 5px 0;
                .imgzoom-letf {
                    background-position: -903px -656px;
                    top: 24px;
                    left: 0;
                    width: 12px;
                    height: 20px;
                    z-index: 11;
                    position: absolute;
                    background-image: url(http://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1599209773);
                }
                .imgzoom-right {
                    width: 12px;
                    height: 20px;
                    top: 24px;
                    right: 0;
                    height: 20px;
                    z-index: 11;
                    position: absolute;
                    background-position: -1042px -472px;
                    background-image: url(http://res.suning.cn/project/pdsWeb/csspc2017/images/f-icons-ex1.png?v=1599209773);
                }
                .imgzoom-thumb {
                    position: absolute;
                    overflow: hidden;
                    height: 64px;
                    width: 392px;
                    margin-left: 30px;
                    ul {
                        position: absolute;
                        width: 800px;
                        @extend %cleafix;
                        li {
                            margin-right: 17px;
                            float: left;
                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }
                        .cur {
                            border: 2px solid #f50;
                        }
                    }
                }
            }
            .imgzoom-daf {
                display: none;
                width: 400px;
                height: 400px;
                border: 1px solid #eee;
                position: absolute;
                top: 0;
                left: 450px;
                overflow: hidden;
                img {
                    width: 800px;
                    height: 800px;
                    // display: none;
                }
            }
        }
        .proinfo-main {
            float: left;
            margin-left: 20px;
            @extend %cleafix;
            .proinfo-title {
                span {
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                    color: #fff;
                    background-color: #f50;
                    padding: 0 5px;
                    margin-right: 5px;
                }
                h2 {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                }
                h3 {
                    color: #f60;
                    margin-top: 3px;
                }
            }
            .price-container {
                background: #fff8f3;
                margin-top: 20px;
                padding: 10px 0 100px 10px;
                .price {
                    >span {
                        font-size: 12px;
                        color: #999999;
                        margin-right: 15px;
                    }
                    p {
                        display: inline-block;
                        color: #e00;
                        font-weight: bold;
                        span {
                            font-size: 30px;
                        }
                        i {
                            font-size: 24px;
                        }
                        .fuhao {
                            font-size: 18px;
                        }
                    }
                }
            }
            .nums {
                @extend %cleafix;
                margin-top: 10px;
                >span {
                    height: 30px;
                    line-height: 30px;
                    float: left;
                    font-size: 12px;
                    color: #999999;
                    margin-right: 15px;
                    display: block;
                    letter-spacing: 1em;
                }
                .cont {
                    float: left;
                    @extend %cleafix;
                    display: block;
                    .jian {
                        float: left;
                        width: 22px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background: #cccccc;
                        cursor: pointer;
                    }
                    input {
                        float: left;
                        outline: 0;
                        width: 25px;
                        height: 18px;
                        padding: 5px;
                        border: 1px solid #ddd;
                        margin: 0 5px;
                        text-align: center;
                    }
                    .jia {
                        background: #cccccc;
                        line-height: 30px;
                        cursor: pointer;
                        float: left;
                        text-align: center;
                        width: 22px;
                        height: 30px;
                    }
                }
            }
            .mainbtns {
                margin-top: 80px;
                .nowbuy {
                    font-weight: 600;
                    background: #663200;
                    color: #fff;
                    width: 115px;
                    height: 40px;
                    border-color: #663200;
                }
                .togoodscart {
                    background: #f50;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    border-color: #f50;
                    width: 135px;
                    height: 40px;
                }
            }
        }
    }
}

//弹出框
.m-dialog {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 430px;
    height: 123px;
    .container {
        border: rgba(0, 0, 0, 0.2) solid 3px;
        background: #fff;
        .title {
            @extend %cleafix;
            border-bottom: 1px solid #ccc;
            background: #eee;
            h2 {
                float: left;
                padding-left: 10px;
                font-size: 14px;
                font-weight: bold;
            }
            .t-close {
                float: right;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .context {
            @extend %cleafix;
            margin-left: 10px;
            margin-top: 15px;
            margin-bottom: 50px;
            p {
                float: left;
                font-size: 16px;
                height: 30px;
                line-height: 30px;
            }
            .toc {
                float: left;
                font-size: 14px;
                color: #fff;
                background: #f50;
                border-radius: 2px;
                padding: 5px;
                margin-left: 150px;
            }
        }
    }
}